@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 25px;
    font-family: Roboto;
}

body {
    background-color: white;
    font-family: Roboto;
}

main {
    margin: 0 100px;
}

.header {
    padding: 20px 0;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header .header-nav ul {
    display: flex;
    align-items: center;
}

.header .header-nav ul li a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header .header-nav ul li a:hover {
    color: #16F38B;
}

.header .header-cta {
    display: inline-block;
    color: white;
    background-color: #16F38B;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 35px;
}

.header .header-cta:hover {
    display: inline-block;
    background-color: #16F38B;
}

.image-container {
    position: relative;
    width: 700px;
    height: auto;
    margin: 0px auto;
  }
  
  .image-container img {
    width: 700px;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: black; 
    padding: 10px 20px; 
    font-size: 100px; 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .quote {
    padding-top: 150px;
    line-height: 50px;
    padding-bottom: 100px;
  }

  .quote h2 {
    color: rgb(23, 23, 23);
    font-size: 30px;
  }

  .color-block {
    background-color: #352EF2;
    padding: 30px;
    color: white;
    line-height: 25px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 80px;
    border-radius: 10px;
  }

  .color-block h2 {
    color: white;
    text-align: center;
  }

  .title-middle h2 {
    text-align: center;
  } 

  .row-cards {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 25px 25px;
    margin-bottom: 100px;
  }

  .column {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #EAF9FF;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

  .card h3 {
    font-family: Roboto;
    font-weight: 800;
    color: #352EF2;
    margin: 0;  
    padding-bottom: 15px;
    font-size: 1.3em;
}

  .card p {
    padding-bottom: 10px;
    flex: 1;
}

  .footer {
    height: 50px;
    background-color: #352EF2;
    font-family: Roboto;
  }

  .footer p {
    padding: 10px;
    color: white;
    text-align: center;
  }

  .color-block-light {
    background-color: #EAF9FF;
    padding: 30px;
    color: black;
    line-height: 25px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 70px;
  }

  .color-block-light h2 {
    padding-bottom: 45px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .process-image img {
    width: 600px;
    height: auto;
  }

  .process-text {
    padding-left: 40px;
  }

  .doubting-image img {
    width: 400px;
    height: auto;
  }

  .doubting-text {
    padding-left: 40px;
  }

  h1 {
    font-size: 100px;
    color: #16F38B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  h2 {
    font-size: 45px;
    padding-bottom: 20px;
    color: #352EF2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 100px;
}

button {
    background-color: #16F38B;
    padding: 10px 30px;
    font-size: 20px;
}






/* mobiel */
@media (max-width:576px) {
    main {
        margin: 0 auto;
    } 

    .header {
        background-color: rgb(224, 247, 255);
    }

    .header .row {
        flex-direction: column;
    }

    .header .header-nav ul {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    li {
        padding: 5px;
    }

    .image-container {
        position: relative;
        width: 400px;
        height: auto;
        margin: 0px auto;
        padding-top: 20px;
      }
      
      .image-container img {
        width: 400px;
        height: auto;
      }

      .overlay-text {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: black; 
        padding: 10px 20px; 
        font-size: 60px; 
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    
      .quote {
        padding-top: 150px;
        line-height: 30px;
        font-size: 15px;
        margin: 0 40px;
      }

      .color-block {
        margin: 0 40px;
      }

      .color-block-light {
        margin: 0 40px;
        line-height: 25px;
        margin-top: 40px;
      }

      .color-block-light h2 {
        line-height: normal;
      }

      .container {
        position: relative;   
        margin: 80 100px; 
      }

      .process-image img {
        width: 400px;
        height: auto;
      }

      .process-text h1 {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: 16F38B; 
        padding: 10px 20px; 
        font-size: 50px; 
        text-align: center;
      }
}

/* tablet */ 
@media (max-width:767px) {
    main {
        margin: 0 auto;
    } 

    .header .row {
        flex-direction: column;
    }

    .header .header-nav ul {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    li {
        padding: 5px;
    }

    .image-container {
        position: relative;
        width: 400px;
        height: auto;
        margin: 0px auto;
        padding-top: 20px;
      }
      
      .image-container img {
        width: 400px;
        height: auto;
      }

      .overlay-text {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: black; 
        padding: 10px 20px; 
        font-size: 60px; 
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }

      .quote {
        margin: 0 40px;
      }

      .color-block {
        margin: 0 40px;
      }
}